* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.container {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

nav.container {
    justify-content: flex-end;
    padding: 10px;
}

nav.container div {
    margin: 10px;
    align-self: center;
}

nav.container div a {
    text-decoration: none;
    color: #000;
}

nav.container div a:hover {
    text-decoration: underline;
}

#menu {
    width: 30px;
    height: 30px;
    line-height: 6px;
    font-weight: bold;
    text-align: center;
    color: #5f6368;
    font-size: 22px;
}

#menu:hover {
    background-color: #eff0f0;
    border-radius: 15px;
}

#perfil {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

#perfil img {
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 20px;
}

#perfil:hover {
    background-color: #eff0f0;
    border-radius: 25px;
}

#logo,
#searchBar {
    align-self: center;
    padding: 15px;
}

#searchBar input {
    width: 600px;
    height: 45px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
}

#searchBar input:hover {
    box-shadow: 0px 0px 7px #bbb;
}

#buttons {
    justify-content: center;
}

#buttons a {
    text-decoration: none;
    color: #000;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px;
}

#buttons a:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
}

footer {
    margin-top: 191px;
}

footer.column #region {
    background-color: #f2f2f2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0,.54);
}

footer.column #options {
    background-color: #f2f2f2;
    padding: 15px 30px;
    justify-content: space-between;
}

footer.column #options a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

footer.column #options a:hover {
    text-decoration: underline;
}

footer.column #options a div {
    padding: 15px;
}