.filmes {
  display: flex;
  flex-wrap: wrap;
}

.filme {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.filme:hover {
  background-color: #EEE;
}

.filmes img {
  max-width: 350px;
  margin-bottom: 10px;
}

.filmes span {
  display: block;
  text-align: center;
}