label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#email {
  padding: 10px;
  font-size: 15px;
}

.submit {
  padding: 10px;
  font-size: 15px;
  background-color: #CCC;
}

.maior {
  font-size: 30px;
}

.menor {
  font-size: 15px;
}