.container {
    background-color: #CCC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.item {
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}

.item1 {
    grid-row: 1 / 4;
    grid-column: 1 / 3;
}

.item6 {
    /* grid-area: 4 / 2 / 6 / 4; */
    grid-row: 4 / 6;
    grid-column: 2 / 4;
}