#titulo {
    background-color: #F00;
}

p {
    background-color: #0000FF;
    border-radius: 5px;
}

div {
    background-color: #00FF00;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 3px solid darkgreen;
}

img {
    border: 5px solid #FF0000;
    border-radius: 30px;
    overflow: hidden;
}