body {
    text-align: center;
}

div {
    background-color: #00FF00;
    padding: 20px;
}

div::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FF0000;
}