.container {
    display: grid;
    grid-template-columns: auto 200px 100px;
    grid-template-rows: 200px;
    grid-gap: 10px;
}

.item {
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}