.container {
    background-color: #CCC;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.item {
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}