.balao {
    background-color: #0000FF;
    display: inline-block;
    color: #FFF;
    padding: 20px;
    border-radius: 20px;
}

.balao::after {
    content: '';
    display: inline-block;
    position: absolute;
    margin-left: 20px;
    top: 25px;
    border: 20px solid;
    border-color: transparent transparent transparent #0000FF;
}