.container {
    display: grid;
    grid-template-columns: repeat(7, minmax(200px, 1fr));
    grid-gap: 10px;
}

.item {
    background-color: #0000FF;
    border-radius: 10px;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
}