body {
  background-color: #EEEEEE;
  color: #333;
}

.quadrado {
  width: 200px;
  height: 200px;
  border: 2px solid #000;
  background-color: #CCC;
}

.retangulo {
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  background-color: #CCC;
}
