input, a {
    display: block;
}

a[href^="https:"] {
    background-color: #0000FF;
}

a[href^="http:"] {
    background-color: #0F0F0F;
}

a[href*="economia"] {
    background-color: #FF0000;
}

a[href*="futebol"] {
    background-color: #00FF00;
}

a[href$="html"] {
    background-color: #123456;
}